@use "./vars" as *;

@mixin flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centerPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// @mixin positionInWebCenter($start){
//   @if ($start == "left"){
//     left : calc((100% - $webWidth) / 2);
//   } @else if ($start == "right"){
//     right : calc((100% - $webWidth) / 2);
//   }
// }

@mixin girdCol2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @content;
}

@mixin gridCol5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @content;
}

@mixin border-gray($type: box) {
  @if ($type == "block") {
    border-block: 0.1rem solid $gray-dd;
  } @else if ($type == "box") {
    border: 0.1rem solid $gray-dd;
  }
}

@mixin shadow-lg {
  box-shadow: 1.5rem 3rem 5rem rgba(0, 0, 0, 0.1);
}
