// colors
$green: #0c834b;

$blue-0e: #0e2d91;
$black: #000;
$gray-26: #26282c;
$gray-e5: #e5e5e5;
$gray-95: #959595;
$gray-66: #666;
$gray-5e: #5e5e5e;
$gray-f8: #f8f8f8;
$gray-b8: #b8b8b8;
$blue-e2: #e2f7ff;

$blue-08: #081943;
$blue-07: #072267;
$blue-0b: #0b6bef;
$blue-00: #006ed6;
$blue-16: #1689f4;
$blue-35: #358fe3;
$blue-6f: #6F86D7;
$blue-ca: #cad9ff;
$blue-eb: #ebeef3;
$blue-f6: #f6f7fb;
$green-68: #68c4d2;
$green-04: #04adb9;
$green-28: #28bc86;
$pink-a7: #A75C9A;
$gray-48: #484b51;
$gray-69: #696e76;
$gray-8b: #8b949e;
$gray-94: #94979c;
$gray-ad: #adadad;
$gray-ae: #AEB8D4;
$gray-dd: #ddd;
$gray-f2: #f2f3f8;
$gray-f7: #f7f7fa;

// size
$webWidth: 106rem;
$headerHeight: 11rem;

// padding
$padding-15: 1.5rem;

// radius
$radius-box: 1rem;
$radius-lg: 7rem;
