// colors
$green: #0c834b;

$blue-0e: #0e2d91;
$black: #000;
$gray-26: #26282c;
$gray-e5: #e5e5e5;
$gray-95: #959595;
$gray-66: #666;
$gray-5e: #5e5e5e;
$gray-f8: #f8f8f8;
$gray-b8: #b8b8b8;
$blue-e2: #e2f7ff;

$blue-08: #081943;
$blue-07: #072267;
$blue-0b: #0b6bef;
$blue-00: #006ED6;
$blue-35: #358FE3;
$blue-68: #68C4D2;
$blue-f6: #F6F7FB;
$gray-48: #484b51;
$gray-69: #696E76;
$gray-8b: #8B949E;
$gray-94: #94979C;
$gray-ad: #adadad;
$gray-dd: #ddd;
$gray-f2: #F2F3F8;
$gray-f7: #f7f7fa;

// padding
$padding-15: 1.5rem;

// radius
$box-radius: 1rem;