@use "../abstracts/" as *;

.megaMenu__tab{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
  button{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6em;
    background-color: $gray-f7;
    padding-inline: 1.8em;
    border-radius: 2.6rem;
    border: 0.1rem solid transparent;
    transition: 0.2s;
    &:hover{
      color: $blue-07;
      border: 0.1rem solid $blue-07;
    }
    &.active{
      color: #fff;
      background-color: $blue-07;
    }
  }
}