@use "../abstracts/" as *;

@layer layout.header{
  header{
    .header__inner{
      height: $headerHeight;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .header__top{
      @include flexSpaceBetween;
      padding-bottom: 2rem;
      position: relative;
    }
    .logo{
      height: 2rem;
      img{
        width: 100%;
      }
    }
    .utility{
      display: flex;
      gap: 1.5rem;
      &__list{
        display: flex;
        > li{
          position: relative;
          & + li:after{
            content: '';
            width: 0.1rem;
            height: 50%;
            background-color: $gray-b8;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
          a, button{
            padding-inline: 1.5rem;
            font-size: 1.4rem;
            font-weight: 600;
            color: $gray-69;
          }
        }
        .global{
          font-weight: 500;
          width: 9.5rem;
        }
        #global__list {
          padding: 0 1.6rem;
          width: 14.4rem;
          color: $gray-69;
          border-radius: 1rem;
          border: 0.1rem solid $gray-dd;
          background-color: #fff;
          position: absolute;
          top: calc(100% + 0.5rem);
          z-index: 99;
          h2 {
            font-size: 1rem;
            color: $gray-8b;
            text-transform: uppercase;
            padding-block: $padding-15 0.3rem;
          }
          ul {
            padding-bottom: 1.2rem;
            border-bottom: 0.1rem solid $gray-dd;
            $countries: ("usa", "china", "vietnam", "noida");
            @each $country in $countries {
              a[class="#{$country}"] {
                line-height: 1.8em;
                padding-left: 2.7rem;
                background: url(/assets/images/icon_#{$country}.png)
                  no-repeat
                  left
                  center /
                  auto
                  75%;
              }
            }
          }
          a {
            font-weight: 400;
            padding: 0;
            font-size: 1.2rem;
            &:hover {
              text-decoration: underline;
            }
          }
          .link__global {
            text-wrap: nowrap;
            background: url(/assets/images/icon_arrow_r.png) no-repeat right center /
              auto 1rem;
            padding-block: $padding-15;
            &:first-of-type {
              border-bottom: 0.1rem solid $gray-dd;
            }
          }
        }
      }
      button[class^="utility"]{
        display: inline-block;
        width: 1.8rem;
        aspect-ratio: 1;
      }
      &__star{
        background: url(/assets/images/icon_star.svg) no-repeat center / 100% auto;
      }
      &__search{
        background: url(/assets/images/icon_search.svg) no-repeat center / 100% auto;
      }
    }
    .menu{
      ul{
        display: flex;
        justify-content: flex-end;
        gap: 2.4rem;
        margin-top: 0.5rem;
        a{
          font-size: 1.6rem;
          font-weight: 500;
          color: $gray-26;
          &:hover{
            color: $blue-00;
          }
        }
      }
    }
  }

}