@use "../abstracts/" as *;

@layer layout.main{
  .preview{
    > div{
      padding-block: 8rem;
    }
    &__top{
      @include flexSpaceBetween;
      margin-bottom: 4rem;
      em{
        color: $blue-35;
      }
    }
    &__list{
      @include flexSpaceBetween;
      gap: 2rem;
      li{
        flex: 1;
        border: 0.1rem solid $gray-dd;
        border-radius: 2rem;
        overflow: hidden;
        transition: 0.35s;
        &:has(a:hover){
          border-color: $blue-35;
        }
        @for $i from 1 through 5{
          &:nth-child(#{$i}) a:after{
            content: '';
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            width: 6rem;
            aspect-ratio: 1;
            background: url(/assets/images/img_preview#{$i}.png) no-repeat center / 100% auto;
          }
        }
        a{
          height: 13.5rem;
          padding: 2.5rem;
          position: relative;
          &:hover h3{
            color: $blue-35;
          }
        }
        h3{
          font-size: 2.4rem;
          font-weight: 500;
          transition: 0.35s;
        }
      }
    }
  }
  .services{
    height: 30vh; /*임시*/
    background-color: $blue-f6;
  }
  .banner__ad{
    position: relative;
    margin-top: -7rem;
    .banner{
      height: 18.4rem;
      padding: 2.5rem 5rem;
      background-color: $blue-08;
      border-radius: $box-radius;
      border-top-right-radius: 7rem;
      position: relative;
      &__inner{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:flex-end;
        gap: 4rem;
      }
      h2{
        color: #fff;
        font-size: 2.8rem;
        font-weight: 600;
        p{
          font-size: 1.8rem;
          font-weight: 500;
          padding-bottom: 1.5rem;
        }
      }
      &__qr-wrap{
        height: 100%;
        display: flex;
        gap: 1.5rem;
        .qr__box{
          height: 100%;
          width: 11.5rem;
          padding: 0.7rem;
          background-color: #fff;
          border-radius: 2rem;
        }
        .qr__img{
          width: 100%;
          img{
            width: 100%;
          }
        }
        .qr__store{
          width: 60%;
          height: 2rem;
          margin-inline: auto;
          transform: translateY(-0.5rem);
          &[aria-label="구글플레이"]{
            background: url(/assets/images/img_googleplay.png) no-repeat center / 100% auto;
          }
          &[aria-label="애플 앱스토어"]{
            background: url(/assets/images/img_appstore.png) no-repeat center / 100% auto;
          }
        }
      }
      &__img1{
        width: 28rem;
        position: absolute;
        bottom: 0;
        left: 3rem;
      }
    }
  }
  .support{
    margin-top: 7rem;
    &__list{
      @include flexSpaceBetween;
      gap: 2rem;
      padding-top: 3rem;
      li{
        border: 0.1rem solid $gray-dd;
        border-radius: $box-radius;
        flex: 1;
        &:has(a:hover){
          border-color: #000;
        }
        a{
          padding: 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;
        }
        p{
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      @for $i from 1 through 4{
        &-icon#{$i}{
          margin-bottom: 1rem;
          width: 3.2rem;
          aspect-ratio: 1;
          background: url(/assets/images/icon_support#{$i}.png) no-repeat center / auto 100%;
        }
      }
    }
  }
  .news{
    > div {
      margin-bottom: 8rem;
    }
    &__box{
      display: flex;
      align-items: center;
      gap: 6rem;
      border: 0.1rem solid $gray-dd;
      border-radius: $box-radius;
      padding: 3rem 5rem;
      margin-top: 2rem;
      h2{
        font-size: 2rem;
        font-weight: 500;
        text-wrap: nowrap;
      }
    }
    &__icon{
      display: inline-block;
      width: 3rem;
      aspect-ratio: 1;
      background: url(/assets/images/icon_notice.png) no-repeat center / 100%;
    }
    &__content{
      flex: 1;
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}