@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@layer base.reset, base.typo, abstracts, layout, components;
@layer base.typo {
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4em;
    color: #26282c;
  }
  .section__heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.4em;
  }
}
@layer base.reset {
  /* border-box 초기화 */
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* 공백 초기화 */
  body,
  button,
  dd,
  dl,
  dt,
  fieldset,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  legend,
  li,
  ol,
  p,
  select,
  table,
  td,
  textarea,
  th,
  ul,
  figure,
  figcaption {
    margin: 0;
    padding: 0;
  }
  /* 레이아웃 */
  html {
    width: 100%;
  }
  body {
    min-width: 108rem;
  }
  body.hidden {
    position: fixed;
    overflow-y: hidden;
    touch-action: none;
  }
  /* 링크 초기화 */
  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    display: block;
    font-family: inherit;
  }
  /* 버튼 초기화 */
  button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
  }
  /* 스타일 초기화 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
  ul {
    list-style: none;
  }
  em,
  address {
    font-style: normal;
  }
  img {
    vertical-align: top;
    width: 100%;
  }
}
#skip {
  position: relative;
}

#skip a {
  position: absolute;
  left: 4rem;
  top: -1000rem;
  z-index: 100000;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.3em 0.7em;
  color: #fff;
  background: #1689f4;
}

#skip a:focus,
#skip a:active {
  top: 0.5rem;
}

.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

@layer components.button {
  .btn__menu {
    width: 2.3rem;
    height: 1.9rem;
    position: relative;
    z-index: 9999;
  }
  .btn__menu span {
    background-color: #000;
    width: 100%;
    height: 0.22rem;
    position: absolute;
    left: 0;
  }
  .btn__menu span:first-child {
    top: 0;
    transform: translateY(-50%);
  }
  .btn__menu span:last-child {
    top: 100%;
    transform: translateY(-50%);
  }
  .btn__menu[aria-expanded=false]:hover span {
    background-color: #006ed6;
  }
  .btn__menu[aria-expanded=false] span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .btn__menu[aria-expanded=true] {
    transition: 0.3s;
  }
  .btn__menu[aria-expanded=true] span:first-child {
    top: 50%;
    transform: rotate(45deg);
  }
  .btn__menu[aria-expanded=true] span:nth-child(2) {
    opacity: 0;
  }
  .btn__menu[aria-expanded=true] span:last-child {
    top: 50%;
    transform: rotate(-45deg);
  }
  .btn--more {
    display: inline-block;
    width: 1.6rem;
    aspect-ratio: 1;
    line-height: 1em;
    border: 0.1rem solid #ddd;
    border-radius: 0.2rem;
    background-color: #fff;
  }
  .megaMenu__nav-wrap .btn--more {
    width: 2.4rem;
    border-radius: 0.4rem;
  }
  [class^=btn--more][aria-expanded=false]::before,
  .btn--open2[aria-expanded=false]::before {
    content: "+";
  }
  [class^=btn--more][aria-expanded=true]::before,
  .btn--open2[aria-expanded=true]::before {
    content: "−";
  }
  .btn--viewMore1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #696e76;
    background-color: #f2f3f8;
    padding: 0.7rem 1.4rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .btn--viewMore1::after {
    content: "";
    width: 1rem;
    aspect-ratio: 1;
    background: url(../../assets/images/icon_arrow_r_thin.svg) no-repeat right center/100% auto;
  }
  a:hover > .btn--viewMore1 {
    background-color: #ddd;
  }
  .btn--viewMore2 {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    color: #484b51;
    padding: 1.2rem 2rem 1.2rem 3rem;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  .btn--viewMore2 i {
    font-size: 1.8rem;
    text-shadow: 0.07rem 0 0 #484b51;
  }
  .btn--viewMore2::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.1rem;
    border-radius: inherit;
    border: 0.1rem solid #000;
  }
  .btn--viewMore2:hover i {
    color: #28bc86;
    text-shadow: 0.07rem 0 0 #28bc86;
  }
  .btn--viewMore2:hover::before {
    border-color: #28bc86;
  }
  @supports (mask-composite: exclude) {
    .btn--viewMore2:hover::before {
      border: none;
      background: linear-gradient(170deg, #006ed6, #28bc86);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor;
    }
  }
  .btn--open1 {
    width: 2.4rem;
    height: 3.4rem;
    background: url(../../assets/images/icon_arrow_down.svg) no-repeat center/100% auto;
  }
  .btn--open1[aria-expanded=true] {
    transform: rotate(180deg);
  }
  .btn--open1[aria-expanded=false] {
    transform: rotate(0);
  }
  .btn--open2 {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .btn--open2[aria-expanded=false]::before, .btn--open2[aria-expanded=true]::before {
    color: #94979c;
    font-size: 1.8rem;
    padding-right: 0.5rem;
  }
  .btn--open3 {
    position: relative;
  }
  .btn--open3.global::after {
    width: 1rem;
    aspect-ratio: 1;
  }
  .btn--open3.site::after {
    width: 1.5rem;
    aspect-ratio: 1;
    right: 1rem;
  }
  .btn--open3::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    aspect-ratio: 1;
    background: url("../../assets/images/icon_arrow_b.svg") no-repeat right center/cover;
  }
  .btn--open3[aria-expanded=false]::after {
    transform: translateY(-50%) rotate(0);
  }
  .btn--open3[aria-expanded=true].global {
    text-decoration: underline;
    color: #000;
  }
  .btn--open3[aria-expanded=true]::after {
    transform: translateY(-50%) rotate(180deg);
  }
  .btn__search1 {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    aspect-ratio: 1;
    background: url(../../assets/images/icon_search_black.svg) no-repeat center/35% auto;
  }
  .btn--style1 {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.2rem 1.2rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.4rem;
  }
  .link__go1 {
    position: relative;
    border-radius: 10rem;
    background-size: 200%;
    background-image: linear-gradient(to right, #006ed6, #68c4d2, #006ed6);
    background-position: 0 0;
  }
  .link__go1:hover {
    animation: bgAni 0.5s ease-out;
  }
  @keyframes bgAni {
    0% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0 0;
    }
  }
  .link__go1 a {
    padding: 0.8em 1.5em;
    border-radius: inherit;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .link__go1 a::after {
    content: "";
    margin-left: 0.5rem;
    height: 1.6rem;
    aspect-ratio: 1;
    background: url(../../assets/images/icon_arrow_r_w.svg) no-repeat center/auto 100%;
  }
}
.btn--close1 {
  width: 5.2rem;
  aspect-ratio: 1;
  position: absolute;
  bottom: 100%;
  right: calc((100% - 108rem) / 2 + 3.7rem);
  border: 0.1rem solid #ddd;
  border-bottom: none;
  background: #fff url(../../assets/images/icon_close_lg.svg) no-repeat center/60% auto;
}

@layer components.gnb {
  .header__bottom {
    border-block: 0.1rem solid #ddd;
    position: relative;
    background-color: #fff;
  }
  .header__bottom .gnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__bottom .gnb > ul {
    display: flex;
    justify-content: space-between;
  }
  .header__bottom .gnb > ul > li {
    padding-inline: 2.6rem;
  }
  .header__bottom .gnb > ul > li:first-child {
    padding-left: 0;
  }
  .header__bottom .gnb > ul > li:hover > a, .header__bottom .gnb > ul > li:has(> a:focus) > a {
    color: #006ed6;
  }
  .header__bottom .gnb > ul > li:hover > a::after, .header__bottom .gnb > ul > li:has(> a:focus) > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background-color: #006ed6;
  }
  .header__bottom .gnb > ul > li:hover .gnb__sub, .header__bottom .gnb > ul > li:has(> a:focus) .gnb__sub {
    display: block;
  }
  .header__bottom .gnb > ul > li > a {
    padding-block: 0.5rem;
    font-size: 1.7rem;
    color: #000;
    position: relative;
  }
  .header__bottom .gnb__sub {
    display: none;
    width: 100%;
    min-height: 30rem;
    background-color: #fff;
    position: absolute;
    top: calc(100% + 0.1rem);
    left: 0;
    z-index: 99999;
  }
  .header__bottom .gnb__sub-nav {
    padding-block: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
  }
  .header__bottom .gnb__sub-nav-group .sub-nav__title {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.6em;
    color: #000;
    margin-bottom: 1.5rem;
  }
  .header__bottom .nav--more {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__bottom a {
    font-size: 1.5rem;
    color: #484b51;
    line-height: 2.2em;
  }
  .header__bottom a:hover, .header__bottom a:focus {
    color: #006ed6;
  }
  .header__bottom .nav__depth {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.35s;
  }
  .header__bottom .nav__depth[hidden] {
    grid-template-rows: 0fr;
  }
  .header__bottom .nav__depth[hidden] ul {
    padding-block: 0;
  }
  .header__bottom .nav__depth ul {
    overflow: hidden;
    background-color: #f7f7fa;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    transition: padding 0.35s;
  }
  .header__bottom .nav__depth ul a {
    font-size: 1.4rem;
    line-height: 2em;
  }
}
@layer components.megaMenu {
  html.menu-open {
    overflow: hidden;
  }
  body.menu-open {
    height: 100vh;
    overflow: hidden;
  }
  header.menu-open {
    height: 100vh;
    overflow-y: scroll;
  }
  .megaMenu {
    width: 100%;
    min-height: calc(100vh - 11rem);
    background-color: #fff;
    padding-block: 5.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border: none;
  }
  .megaMenu .megaMenu__searchArea {
    text-align: center;
  }
  .megaMenu .megaMenu__searchArea h2 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1em;
  }
  .megaMenu .megaMenu__searchArea .megaMenu__searchForm {
    display: inline-block;
    position: relative;
    margin-block: 3rem 4rem;
  }
  .megaMenu .megaMenu__searchArea .megaMenu__searchForm input {
    width: 70rem;
    height: 6rem;
    border-radius: 0.6rem;
    border: 0.1rem solid #000;
    padding-inline: 2rem;
    font-size: 1.7rem;
    font-weight: 500;
  }
  .megaMenu .megaMenu__searchArea .megaMenu__searchForm input::placeholder {
    color: #94979c;
  }
  .megaMenu .megaMenu__tabContents > div {
    position: relative;
  }
  .megaMenu .megaMenu__wrap {
    width: 100%;
  }
  .megaMenu .megaMenu__board {
    padding-top: 4rem;
  }
  .megaMenu .megaMenu__board__top {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
    border-bottom: 0.1rem solid #000;
  }
  .megaMenu .megaMenu__board__top .megaMenu__title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .megaMenu .megaMenu__board__top .megaMenu__title h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1em;
  }
  .megaMenu .megaMenu__nav-wrap {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }
  .megaMenu .megaMenu__nav-wrap .nav__list .nav--more a {
    font-size: 1.6rem;
  }
  .megaMenu .megaMenu__nav-wrap .nav__list .nav--more a:has(+ button[aria-expanded=true]) {
    font-weight: 600;
    color: #072267;
  }
  .megaMenu .megaMenu__nav-wrap .nav__depth a {
    font-size: 1.4rem;
    font-weight: 400;
    color: #484b51;
  }
  .megaMenu .megaMenu__nav-wrap .nav__depth a:hover {
    color: #072267;
    font-weight: 600;
    text-decoration: underline;
  }
  .megaMenu .sub-nav__title {
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    line-height: 1;
  }
  .megaMenu .megaMenu__quick {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-block: 1.5rem;
    border-bottom: 0.1rem solid #ddd;
  }
}
.megaMenu__tab {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
}
.megaMenu__tab button {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6em;
  padding-inline: 1.8em;
  border-radius: 2.6rem;
  border: 0.1rem solid transparent;
  transition: 0.2s;
}
.megaMenu__tab button:hover {
  color: #072267;
  border: 0.1rem solid #072267;
}
.megaMenu__tab button[aria-selected=true] {
  color: #fff;
  background-color: #072267;
}
.megaMenu__tab button[aria-selected=false] {
  background-color: #f7f7fa;
}

.service__tab1 li {
  display: inline-block;
  margin-left: 2rem;
}
.service__tab1 button {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.6em;
  color: #696e76;
  position: relative;
}
.service__tab1 button:hover:after, .service__tab1 button[aria-selected=true]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.2rem;
  width: 2rem;
  height: 0.4rem;
}
.service__tab1 button:hover[aria-controls=service__tab1-content1], .service__tab1 button[aria-selected=true][aria-controls=service__tab1-content1] {
  font-weight: 700;
  color: #1689f4;
}
.service__tab1 button:hover[aria-controls=service__tab1-content1]:after, .service__tab1 button[aria-selected=true][aria-controls=service__tab1-content1]:after {
  background-color: #1689f4;
}
.service__tab1 button:hover[aria-controls=service__tab1-content2], .service__tab1 button[aria-selected=true][aria-controls=service__tab1-content2] {
  font-weight: 700;
  color: #04adb9;
}
.service__tab1 button:hover[aria-controls=service__tab1-content2]:after, .service__tab1 button[aria-selected=true][aria-controls=service__tab1-content2]:after {
  background-color: #04adb9;
}

.service__tab2-1 li,
.service__tab2-2 li {
  padding-bottom: 2rem;
}
.service__tab2-1 button,
.service__tab2-2 button {
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  color: #696e76;
  padding-left: 2rem;
  position: relative;
}
.service__tab2-1 button:before,
.service__tab2-2 button:before {
  content: "#";
  font-size: inherit;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.service__tab2-1 button[aria-selected=true],
.service__tab2-2 button[aria-selected=true] {
  font-size: 2.6rem;
  font-weight: 700;
  color: #000;
}
.service__tab2-1 button span,
.service__tab2-2 button span {
  position: relative;
  z-index: 1;
}
.service__tab2-1 button span:after,
.service__tab2-2 button span:after {
  content: "";
  width: 0;
  height: 1.5rem;
  background-color: #cad9ff;
  border-radius: 10rem;
  position: absolute;
  bottom: -0.3rem;
  left: -3%;
  z-index: -1;
  transition: width 0.2s;
}
.service__tab2-1 button[aria-selected=true] span:after,
.service__tab2-1 button:hover span:after,
.service__tab2-2 button[aria-selected=true] span:after,
.service__tab2-2 button:hover span:after {
  width: 106%;
}

.visual {
  width: 100%;
}
.visual .visualSwiper {
  height: 52rem;
  position: relative;
}
.visual .visualSwiper .swiper-slide img {
  min-width: 108rem;
  height: 100%;
  object-fit: cover;
}
.visual .visual__contents-wrap {
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 10;
}
.visual .visual__contents-wrap > div {
  height: 100%;
  position: relative;
}
.visual .visualSwiper-controls {
  position: absolute;
  bottom: 0;
  left: 0;
}
.visual .visualSwiper-controls .controls__inner {
  width: 21rem;
  display: flex;
  align-items: center;
  padding-bottom: 7rem;
}
.visual .visualSwiper-controls div,
.visual .visualSwiper-controls button {
  position: static;
}
.visual .visualSwiper-controls .swiper-button-prev,
.visual .visualSwiper-controls .swiper-button-next {
  height: 100%;
  margin-top: 0.5rem;
  display: inline-block;
}
.visual .visualSwiper-controls .swiper-button-prev.swiper-button-disabled,
.visual .visualSwiper-controls .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}
.visual .visualSwiper-controls .swiper-button-prev:after,
.visual .visualSwiper-controls .swiper-button-next:after {
  display: inline-block;
  font-size: 1.8rem;
  color: #AEB8D4;
  text-shadow: 0.05rem 0 0 #AEB8D4;
}
.visual .visualSwiper-controls .swiper-pagination-fraction {
  padding-inline: 1rem;
  font-size: 2.2rem;
  font-weight: 500;
  text-wrap: nowrap;
  color: #696e76;
}
.visual .visualSwiper-controls .swiper-pagination-fraction .swiper-pagination-current {
  color: #0b6bef;
}
.visual .visualSwiper-controls .swiper-pagination-fraction .swiper-pagination-total {
  color: #484b51;
}
.visual .visualSwiper-controls .visualSwiper__tools {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.visual .visualSwiper-controls .visualSwiper__tools button {
  color: #AEB8D4;
  padding-left: 1rem;
}
.visual .visualSwiper-controls .visualSwiper__tools button:hover {
  color: #696e76;
}
.visual .visualSwiper-controls .visualSwiper__tools .btn--play {
  font-size: 3.2rem;
}
.visual .visualSwiper-controls .visualSwiper__tools .btn--play .bi-play-fill {
  display: none;
}
.visual .visualSwiper-controls .visualSwiper__tools .btn--play .bi-stop-fill {
  display: block;
}
.visual .visualSwiper-controls .visualSwiper__tools .btn--play.stop .bi-play-fill {
  display: block;
}
.visual .visualSwiper-controls .visualSwiper__tools .btn--play.stop .bi-stop-fill {
  display: none;
}
.visual .visualSwiper-controls .visualSwiper__tools .btn--grid {
  font-size: 2.4rem;
}

.news .swiper {
  margin-left: 0;
}
.news .newsSwiper {
  width: 100%;
  height: 3rem;
}
.news .newsSwiper a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
  color: #696e76;
}
.news .newsSwiper-controls {
  margin-left: auto;
  height: 3rem;
  width: 10rem;
  display: flex;
  align-items: center;
}
.news .newsSwiper-controls button {
  flex: 1;
  display: inline-block;
  position: static;
  color: #000;
  margin-top: 0;
  height: 100%;
}
.news .newsSwiper-controls .swiper-button-prev,
.news .newsSwiper-controls .swiper-button-next {
  transform: rotate(90deg);
  padding-inline: 0.5rem;
}
.news .newsSwiper-controls .swiper-button-prev:after,
.news .newsSwiper-controls .swiper-button-next:after {
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 0 0.05rem 0 #000;
}
.news .newsSwiper-controls .vertical-bar {
  width: 0.1rem;
  height: 30%;
  background-color: #ddd;
}
.news .newsSwiper-controls .swiper-button-pauseToggle i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  text-shadow: 0.05rem 0 0 #000;
}
.news .newsSwiper-controls .swiper-button-pauseToggle.stop i {
  color: #ddd;
  text-shadow: 0.05rem 0 0 #ddd;
}

.dialog__search {
  border: none;
  border-top: 0.1rem solid #ddd;
  padding-block: 6rem;
  width: 100%;
  min-width: 108rem;
}
.dialog__search[open] {
  position: absolute;
  top: var(--searchDialogTop, 6rem);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog__search-inner {
  width: 68rem;
}
.dialog__search #searchInput {
  width: 100%;
  border-radius: 0;
  border: 0.1rem solid #adadad;
  font-size: 1.8rem;
  color: #8b949e;
  padding-block: 1em;
  padding-inline: 6rem;
  background: #f7f7fa url(../../assets/images/icon_search.svg) no-repeat left 2rem center/auto 40%;
}
.dialog__search .input__wrap {
  position: relative;
  padding-right: 1rem;
}
.dialog__search .btn__search2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 8.5rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  background-color: #006ed6;
  border-radius: 0 1rem 0 1rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 110, 214, 0.4);
  outline-offset: 0.3rem;
}
.dialog__search .dialog__search-theme {
  padding-block: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}
.dialog__search .dialog__search-theme .theme__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6em;
  text-wrap: nowrap;
  letter-spacing: -1.5px;
}
.dialog__search .dialog__search-theme .theme-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
}
.dialog__search .dialog__search-theme .theme-list a {
  font-size: 1.6rem;
  line-height: 2em;
  color: #484b51;
}
.dialog__search .dialog__search-theme .theme-list a.accent {
  color: #006ed6;
  font-weight: 500;
}

#backdrop.active {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 999;
  margin-top: 20rem;
}

@layer layout.align {
  .webCenter {
    width: 106rem;
    padding-inline: 1rem;
    margin: 0 auto;
  }
}
@layer layout.header {
  header .header__inner {
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    position: relative;
  }
  header .logo {
    height: 2rem;
  }
  header .logo img {
    width: 100%;
  }
  header .utility {
    display: flex;
    gap: 1.1rem;
  }
  header .utility__list {
    display: flex;
  }
  header .utility__list > li {
    position: relative;
  }
  header .utility__list > li + li:after {
    content: "";
    width: 0.1rem;
    height: 50%;
    background-color: #b8b8b8;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  header .utility__list > li a,
  header .utility__list > li button {
    padding-inline: 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #696e76;
  }
  header .utility__list .global {
    font-weight: 500;
    padding-inline: 1rem 2rem;
    width: 9.5rem;
  }
  header .utility__list #global__list {
    padding: 0 1.6rem;
    width: 14.4rem;
    color: #696e76;
    border-radius: 1rem;
    border: 0.1rem solid #ddd;
    background-color: #fff;
    position: absolute;
    top: calc(100% + 0.5rem);
    z-index: 99;
  }
  header .utility__list #global__list h2 {
    font-size: 1rem;
    color: #8b949e;
    text-transform: uppercase;
    padding-block: 1.5rem 0.3rem;
  }
  header .utility__list #global__list ul {
    padding-bottom: 1.2rem;
    border-bottom: 0.1rem solid #ddd;
  }
  header .utility__list #global__list ul a[class=usa] {
    line-height: 1.8em;
    padding-left: 2.7rem;
    background: url(../../assets/images/icon_usa.png) no-repeat left center/auto 75%;
  }
  header .utility__list #global__list ul a[class=china] {
    line-height: 1.8em;
    padding-left: 2.7rem;
    background: url(../../assets/images/icon_china.png) no-repeat left center/auto 75%;
  }
  header .utility__list #global__list ul a[class=vietnam] {
    line-height: 1.8em;
    padding-left: 2.7rem;
    background: url(../../assets/images/icon_vietnam.png) no-repeat left center/auto 75%;
  }
  header .utility__list #global__list ul a[class=noida] {
    line-height: 1.8em;
    padding-left: 2.7rem;
    background: url(../../assets/images/icon_noida.png) no-repeat left center/auto 75%;
  }
  header .utility__list #global__list a {
    font-weight: 400;
    padding: 0;
    font-size: 1.2rem;
  }
  header .utility__list #global__list a:hover {
    text-decoration: underline;
  }
  header .utility__list #global__list .link__global {
    text-wrap: nowrap;
    background: url(../../assets/images/icon_arrow_r.png) no-repeat right center/auto 1rem;
    padding-block: 1.5rem;
  }
  header .utility__list #global__list .link__global:first-of-type {
    border-bottom: 0.1rem solid #ddd;
  }
  header .utility button[class^=utility] {
    display: inline-block;
    width: 1.8rem;
    aspect-ratio: 1;
  }
  header .utility__star {
    background: url(../../assets/images/icon_star.svg) no-repeat center/100% auto;
  }
  header .utility__search {
    background: url(../../assets/images/icon_search.svg) no-repeat center/100% auto;
  }
  header .menu ul {
    display: flex;
    justify-content: flex-end;
    gap: 2.4rem;
    margin-top: 0.5rem;
  }
  header .menu ul a {
    font-size: 1.6rem;
    font-weight: 500;
    color: #26282c;
  }
  header .menu ul a:hover {
    color: #006ed6;
  }
}
@layer layout.main {
  .visual {
    position: relative;
  }
  .visual .slide__info-wrap {
    padding-top: 7rem;
  }
  .visual .slide__info .category {
    font-size: 1.8rem;
    font-weight: 500;
    color: #358fe3;
  }
  .visual .slide__info .title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6em;
    margin-block: 1rem 6rem;
  }
  .login__wrap {
    height: 100%;
    position: absolute;
    top: 0;
    right: 1rem;
  }
  .login__wrap .login__grid {
    margin-left: auto;
    padding-block: 7rem;
    width: 28rem;
    height: inherit;
    display: grid;
    grid-template-rows: 11rem 6rem 19rem;
    gap: 1rem;
  }
  :is(.login__wrap .login__grid-row1, .login__wrap .login__grid-row2) a {
    padding: 2rem;
  }
  .login__wrap .login__grid-row1 {
    display: flex;
    gap: 1rem;
  }
  .login__wrap .login__grid-row1 a {
    flex-basis: 50%;
    border-radius: 1rem;
    color: #fff;
    background-repeat: no-repeat;
    background-position: right 2rem bottom 2rem;
    background-size: 2.2rem;
    transition: 0.35s;
  }
  .login__wrap .login__grid-row1 a:first-child {
    border-top-left-radius: 2.5rem;
    background-color: #072267;
    background-image: url(../../assets/images/icon_login.png);
  }
  .login__wrap .login__grid-row1 a:last-child {
    border-bottom-right-radius: 2.5rem;
    background-color: #006ed6;
    background-image: url(../../assets/images/icon_verify.png);
  }
  .login__wrap .login__grid-row1 a:hover {
    transform: translate(-0.1rem, -0.1rem);
  }
  .login__wrap .login__grid-row1 span {
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .login__wrap .login__grid-row1 span i {
    color: inherit;
    font-size: 1.1rem;
    text-shadow: 0.07rem 0 0 #fff;
  }
  .login__wrap .login__grid-row2 a {
    font-size: 1.6rem;
    font-weight: 500;
    color: #484b51;
    background: url(../../assets/images/icon_inquiry.png) no-repeat right 0.5rem center/auto 100% content-box;
  }
  .login__wrap .login__grid-row2, .login__wrap .login__grid-row3 {
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.3));
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  .login__wrap .login__grid-row3 {
    padding: 2.7rem 3rem;
    border-bottom-right-radius: 2.5rem;
  }
  .login__wrap .login__grid-row3 .login__quickList {
    height: 100%;
    display: grid;
    align-content: space-between;
    grid-template-columns: repeat(3, 1fr);
  }
  .login__wrap .login__grid-row3 .login__quickList a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .login__wrap .login__grid-row3 .login__quickList a span {
    font-size: 1.4rem;
    font-weight: 500;
    color: #484b51;
  }
  .login__wrap .login__grid-row3 .login__quickList i.icon--quick1 {
    display: block;
    width: 100%;
    height: 3rem;
    background: url(../../assets/images/icon_quick_menu1.png) no-repeat center/auto 100%;
  }
  .login__wrap .login__grid-row3 .login__quickList i.icon--quick2 {
    display: block;
    width: 100%;
    height: 3rem;
    background: url(../../assets/images/icon_quick_menu2.png) no-repeat center/auto 100%;
  }
  .login__wrap .login__grid-row3 .login__quickList i.icon--quick3 {
    display: block;
    width: 100%;
    height: 3rem;
    background: url(../../assets/images/icon_quick_menu3.png) no-repeat center/auto 100%;
  }
  .login__wrap .login__grid-row3 .login__quickList i.icon--quick4 {
    display: block;
    width: 100%;
    height: 3rem;
    background: url(../../assets/images/icon_quick_menu4.png) no-repeat center/auto 100%;
  }
  .login__wrap .login__grid-row3 .login__quickList i.icon--quick5 {
    display: block;
    width: 100%;
    height: 3rem;
    background: url(../../assets/images/icon_quick_menu5.png) no-repeat center/auto 100%;
  }
  .login__wrap .login__grid-row3 .login__quickList i.icon--quick6 {
    display: block;
    width: 100%;
    height: 3rem;
    background: url(../../assets/images/icon_quick_menu6.png) no-repeat center/auto 100%;
  }
  .preview > div {
    padding-block: 8rem;
  }
  .preview__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .preview__top em {
    color: #358fe3;
  }
  .preview__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .preview__list li {
    flex: 1;
    transition: 0.35s;
  }
  .preview__list li:nth-child(1) a:after {
    content: "";
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 6rem;
    aspect-ratio: 1;
    background: url(../../assets/images/img_preview1.png) no-repeat center/100% auto;
  }
  .preview__list li:nth-child(2) a:after {
    content: "";
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 6rem;
    aspect-ratio: 1;
    background: url(../../assets/images/img_preview2.png) no-repeat center/100% auto;
  }
  .preview__list li:nth-child(3) a:after {
    content: "";
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 6rem;
    aspect-ratio: 1;
    background: url(../../assets/images/img_preview3.png) no-repeat center/100% auto;
  }
  .preview__list li:nth-child(4) a:after {
    content: "";
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 6rem;
    aspect-ratio: 1;
    background: url(../../assets/images/img_preview4.png) no-repeat center/100% auto;
  }
  .preview__list li:nth-child(5) a:after {
    content: "";
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 6rem;
    aspect-ratio: 1;
    background: url(../../assets/images/img_preview5.png) no-repeat center/100% auto;
  }
  .preview__list li a {
    height: 13.5rem;
    padding: 2.5rem;
    position: relative;
    border: 0.1rem solid #ddd;
    border-radius: 2rem;
    font-size: 2.4rem;
    font-weight: 500;
    transition: 0.35s;
  }
  .preview__list li a:hover {
    color: #358fe3;
    border-color: #358fe3;
  }
  .service {
    background-color: #f6f7fb;
  }
  .service > div {
    padding-block: 8rem;
  }
  .service__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .service__title {
    display: flex;
    flex-direction: column;
  }
  .service__title h2 {
    order: 2;
  }
  .service__title p {
    order: 1;
    font-size: 2rem;
    font-weight: 500;
    color: #696e76;
    padding-bottom: 1rem;
  }
  .service__tab1-contents {
    padding-block: 7rem;
  }
  .service__tab1-contents > div:not([hidden]) {
    display: flex;
    justify-content: space-between;
  }
  .service__tab1-contents #service__tab1-content1 [id^=service__tab2-content] li:first-child a {
    background-color: #28bc86;
  }
  .service__tab1-contents #service__tab1-content2 [id^=service__tab2-content] li:first-child a {
    background-color: #04adb9;
  }
  .service__tab2-contents {
    width: 70rem;
    aspect-ratio: 1;
  }
  .service__tab2-contents > ul:not([hidden]) {
    width: 100%;
    height: 100%;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .service__product {
    width: inherit;
    height: inherit;
    border-radius: 1rem;
    position: relative;
    transition: 0.35s;
    z-index: 1;
  }
  .service__product a {
    height: 100%;
    border-radius: 1rem;
    padding: 5rem 2.5rem 5rem 3rem;
    background-color: #fff;
  }
  .service__product::before {
    content: "";
    border-radius: 1.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    background-color: #ebeef3;
    z-index: -1;
  }
  .service__product.extend {
    grid-row: span 2;
  }
  .service__product:hover {
    box-shadow: 1.5rem 3rem 5rem rgba(0, 0, 0, 0.1);
  }
  .service__product:hover::before {
    background-image: linear-gradient(130deg, #358fe3, #28bc86);
  }
  .service__product:hover .product__icon img {
    transform: translate(100%, -100%);
    transition: 0.1s;
  }
  .service__product:hover .product__icon::before {
    transform: translate(100%, -100%);
    transition: 0.3s;
  }
  .service__product .content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.5rem;
  }
  .service__product .content-top .product__name {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.4em;
    color: #484b51;
  }
  .service__product .content-top .product__icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
  }
  .service__product .content-top .product__icon img {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(5081%) hue-rotate(150deg) brightness(90%) contrast(85%);
  }
  .service__product .content-top .product__icon:before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: url(../../assets/images/icon_arrow-r-u.png) no-repeat center/cover;
    filter: brightness(0) saturate(100%) invert(57%) sepia(65%) saturate(444%) hue-rotate(107deg) brightness(93%) contrast(95%);
  }
  .service__product .product__info {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6em;
    color: #696e76;
    word-break: keep-all;
  }
  .service__product .content-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: calc(100% - 7rem);
    position: absolute;
    bottom: 3.5rem;
  }
  .service__product .content-bottom .product__img {
    width: 12rem;
    aspect-ratio: 1;
  }
  .service__product .content-bottom .product__img img {
    width: 100%;
    transform: translate(2rem, 2.5rem);
  }
  .service__product .product__badges span {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    border: 0.1rem solid #fff;
    border-radius: 10rem;
  }
  .service__product .product__badges span + span {
    margin-left: 0.3rem;
  }
  .service__product .product__badges span[data-badge=기타] {
    color: #fff;
    border-color: #fff;
  }
  .service__product .product__badges span[data-badge=법인] {
    color: #6F86D7;
    border-color: #6F86D7;
  }
  .service__product .product__badges span[data-badge=개인] {
    color: #A75C9A;
    border-color: #A75C9A;
  }
  .service__product:first-child {
    box-shadow: 1.5rem 3rem 5rem rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 7rem;
  }
  .service__product:first-child:before,
  .service__product:first-child a {
    border-bottom-left-radius: 7rem;
  }
  .service__product:first-child .content-top .product__name {
    color: #fff;
  }
  .service__product:first-child .content-top .product__icon img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(29%) hue-rotate(209deg) brightness(106%) contrast(108%);
  }
  .service__product:first-child .content-top .product__icon::before {
    filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(29%) hue-rotate(209deg) brightness(106%) contrast(108%);
  }
  .service__product:first-child .product__info {
    color: #fff;
  }
  .service__product:first-child .product__badges span {
    color: #fff;
    border-color: #fff;
  }
  .banner__ad {
    position: relative;
    margin-top: -7rem;
  }
  .banner__ad .banner {
    height: 18.4rem;
    padding: 2.5rem 5rem;
    background-color: #081943;
    border-radius: 1rem;
    border-top-right-radius: 7rem;
    position: relative;
  }
  .banner__ad .banner__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
  }
  .banner__ad .banner__title {
    color: #fff;
  }
  .banner__ad .banner__title h2 {
    font-size: 2.8rem;
    font-weight: 600;
  }
  .banner__ad .banner__title p {
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
  }
  .banner__ad .banner__qr-wrap {
    height: 100%;
    display: flex;
    gap: 1.5rem;
  }
  .banner__ad .banner__qr-wrap .qr__box {
    height: 100%;
    width: 11.5rem;
    padding: 0.7rem;
    background-color: #fff;
    border-radius: 2rem;
  }
  .banner__ad .banner__qr-wrap .qr__img {
    width: 100%;
  }
  .banner__ad .banner__qr-wrap .qr__img img {
    width: 100%;
  }
  .banner__ad .banner__qr-wrap .qr__store {
    width: 60%;
    height: 2rem;
    margin-inline: auto;
    transform: translateY(-0.5rem);
  }
  .banner__ad .banner__qr-wrap .qr__store[data-app=google] {
    background: url(../../assets/images/img_googleplay.png) no-repeat center/100% auto;
  }
  .banner__ad .banner__qr-wrap .qr__store[data-app=apple] {
    background: url(../../assets/images/img_appstore.png) no-repeat center/100% auto;
  }
  .banner__ad .banner__img1 {
    width: 28rem;
    position: absolute;
    bottom: 0;
    left: 3rem;
  }
  .support {
    margin-top: 7rem;
  }
  .support__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 3rem;
  }
  .support__list li {
    border: 0.1rem solid #ddd;
    border-radius: 1rem;
    flex: 1;
  }
  .support__list li:has(a:hover) {
    border-color: #000;
  }
  .support__list li a {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .support__list li p {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .support__list-icon1 {
    margin-bottom: 1rem;
    width: 3.2rem;
    aspect-ratio: 1;
    background: url(../../assets/images/icon_support1.png) no-repeat center/auto 100%;
  }
  .support__list-icon2 {
    margin-bottom: 1rem;
    width: 3.2rem;
    aspect-ratio: 1;
    background: url(../../assets/images/icon_support2.png) no-repeat center/auto 100%;
  }
  .support__list-icon3 {
    margin-bottom: 1rem;
    width: 3.2rem;
    aspect-ratio: 1;
    background: url(../../assets/images/icon_support3.png) no-repeat center/auto 100%;
  }
  .support__list-icon4 {
    margin-bottom: 1rem;
    width: 3.2rem;
    aspect-ratio: 1;
    background: url(../../assets/images/icon_support4.png) no-repeat center/auto 100%;
  }
  .news > div {
    margin-bottom: 8rem;
  }
  .news__box {
    display: flex;
    align-items: center;
    gap: 6rem;
    border: 0.1rem solid #ddd;
    border-radius: 1rem;
    padding: 3rem 5rem;
    margin-top: 2rem;
  }
  .news__box h2 {
    font-size: 2rem;
    font-weight: 500;
    text-wrap: nowrap;
  }
  .news__icon {
    display: inline-block;
    width: 3rem;
    aspect-ratio: 1;
    background: url(../../assets/images/icon_notice.png) no-repeat center/100%;
  }
  .news__content {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
.footer__top {
  border-block: 0.1rem solid #ddd;
}
.footer__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__nav ul a {
  font-size: 1.4rem;
  color: #696e76;
  line-height: 4.5em;
}
.footer__bottom {
  padding-block: 2.5rem 5rem;
  display: flex;
  justify-content: space-between;
}
.footer__bottom-l {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.footer__bottom .contact__call p {
  font-size: 1.3rem;
  color: #696e76;
}
.footer__bottom .contact__call span {
  font-size: 1.6rem;
}
.footer__bottom .contact__call span em {
  color: #ddd;
}
.footer__bottom-r {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  justify-items: end;
}
.footer__bottom .policy {
  grid-column: 1/-1;
}
.footer__bottom .policy ul {
  display: flex;
  gap: 3rem;
}
.footer__bottom .policy ul a {
  font-size: 1.4rem;
  color: #696e76;
}
.footer__bottom .footer__links {
  margin-right: 1rem;
}
.footer__bottom .footer__links > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__bottom .footer__links > ul > li:last-child {
  position: relative;
  margin-left: 1rem;
}
.footer__bottom .footer__links .sns {
  width: 2.2rem;
  aspect-ratio: 1;
}
.footer__bottom .footer__links .sns img {
  width: 100%;
}
.footer__bottom .site {
  width: 16.2rem;
  height: 3.2rem;
  font-size: 1.3rem;
  color: #484b51;
  text-align: left;
  padding-inline: 1rem;
  border: 0.1rem solid #ddd;
}
.footer__bottom #footer__site {
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: calc(100% - 0.1rem);
  left: 0;
  right: 0;
  border: 0.1rem solid #adadad;
  background-color: #fff;
}
.footer__bottom #footer__site a {
  color: #484b51;
  line-height: 1.6em;
}
.footer__bottom .marks {
  width: 100%;
}
.footer__bottom .marks ul {
  display: flex;
  width: 100%;
  height: 3rem;
}
.footer__bottom .marks li {
  width: 25%;
  height: 100%;
}
.footer__bottom .marks a {
  width: 100%;
  height: 100%;
}
.footer__bottom .marks a.mark1 {
  background: url(../../assets/images/footer_mark1.jpg) no-repeat center/auto 100%;
}
.footer__bottom .marks a.mark2 {
  background: url(../../assets/images/footer_mark2.jpg) no-repeat center/auto 100%;
}
.footer__bottom .marks a.mark3 {
  background: url(../../assets/images/footer_mark3.jpg) no-repeat center/auto 100%;
}
.footer__bottom .marks a.mark4 {
  background: url(../../assets/images/footer_mark4.jpg) no-repeat center/auto 100%;
}
.footer__bottom .copyright {
  grid-column: 1/-1;
  font-size: 1.3rem;
  color: #696e76;
}

body.menu-open .sideMenu {
  display: none;
}

.sideMenu {
  position: fixed;
  top: 21rem;
  right: 1rem;
  z-index: 99;
  transition: 0.35s;
}
.sideMenu[hidden] {
  display: block;
  right: -13rem;
}
.sideMenu__wrap {
  width: 13rem;
  text-align: center;
  border: 0.1rem solid #ddd;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.sideMenu__wrap h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  background-color: #081943;
  padding-block: 1rem;
}
.sideMenu__quickList {
  padding-block: 1rem;
}
.sideMenu__quickList a {
  padding-block: 0.7rem;
  font-size: 1.4rem;
  line-height: 1.6em;
  letter-spacing: -1px;
}
.sideMenu__quickList a:hover {
  color: #006ed6;
}
.sideMenu__bottom a,
.sideMenu__bottom button {
  padding-block: 2rem;
  border-top: 0.1rem solid #ddd;
  font-weight: 500;
  letter-spacing: -1px;
}
.sideMenu__bottom a i,
.sideMenu__bottom button i {
  display: block;
  margin-inline: auto;
}
.sideMenu__bottom button {
  width: 100%;
}
.sideMenu__bottom .sideMenu__icon1 {
  height: 1.5rem;
  margin-bottom: 1rem;
  background: url(../../assets/images/img_withtalk.png) no-repeat center/auto 100%;
}
.sideMenu__bottom .sideMenu__icon2,
.sideMenu__bottom .sideMenu__icon3 {
  width: 2.5rem;
  aspect-ratio: 1;
  margin-bottom: 0.7rem;
}
.sideMenu__bottom .sideMenu__icon2 {
  background: url(../../assets/images/icon_search_black.svg) no-repeat center/100%;
}
.sideMenu__bottom .sideMenu__icon3 {
  background: url(../../assets/images/icon_monitor.svg) no-repeat center/100%;
}
.sideMenu .btn--open-sideMenu {
  padding: 1rem;
  position: absolute;
  top: 16rem;
  right: 98%;
  color: #fff;
  background-color: #081943;
  border-radius: 1.5rem 0 0 1.5rem;
  z-index: -1;
}

/*# sourceMappingURL=index.css.map */
